.iGgDrN {
    width: 30% !important;
    position: relative !important;
    padding-bottom: 0px !important;
}

.eIQnng {
    position: relative !important;
    width: fit-content !important;
}

.txYHk {
    width: 100% !important;
    object-fit: contain !important;
    z-index: 0 !important;
    border-radius: 10px;
    border: 1px solid rgb(232, 203, 150);
}
